@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* *----------------------------------------------------------------------- */
/* *-------------------------- ROOT/CONTAINER ----------------------------- */
/* *----------------------------------------------------------------------- */
:root {
  --bShadow: rgba(0, 0, 0, 0.2);
  --bShadow2: rgba(0, 0, 0, 0.19);
  --cyan: #5f9ea0;
  --red: #ff6347;
  --red2: #ff634740;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #070707;
  height: 100%;
  margin: 0;
}

.hero {
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background-image: url(/assets/images/background2.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  height: 100%;
  min-height: fit-content;
  width: 80vw;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- HEADER ------------------------------------- */
/* *----------------------------------------------------------------------- */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: fit-content;
  padding: 2em 1em 2em 1em;
  gap: 2em;
}

.logo {
  display: flex;
  justify-content: center;
  text-shadow: 4px 6px 8px var(--bShadow);
  color: var(--cyan);
  font-size: 3em;
  margin-top: auto;
}

.name span {
  color: #fff;
}

.hamburger {
  display: none;
}

.side-menu {
  display: none;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- NAVBAR ------------------------------------- */
/* *----------------------------------------------------------------------- */
nav {
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-right: 1em;
  width: fit-content;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style: none;
  gap: 0.8em;
}

.nav-list-item a {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  text-shadow: 4px 6px 8px var(--bShadow);
  background: rgba(95, 158, 160, 0.65);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem 2em 1rem 2em;
}

/* Hover on the current page */
#currentpage > a:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2) !important;
  color: var(--cyan) !important;
}

/* Current page when hovering on others */
.nav-list:hover > #currentpage a {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: rgba(95, 158, 160, 0.4);
  color: #fff;
}

/* Regular hover */
.nav-list-item a:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2);
  color: var(--cyan);
}

/* Transition to normal when not hovering */
.nav-list-item a:not(hover) {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

/* Current page */
#currentpage a {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: rgba(95, 158, 160, 0.25);
  color: #fff;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT ------------------------------------ */
/* *----------------------------------------------------------------------- */
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto 0 auto 0;
  gap: 1em;
  padding: 1em;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

section h1 {
  text-shadow: 4px 6px 8px var(--bShadow);
  color: #fff;
  font-size: 4rem;
}
section h4 {
  text-shadow: 4px 6px 8px var(--bShadow);
  color: var(--cyan);
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 40px;
}
section p {
  text-shadow: 4px 6px 8px var(--bShadow);
  font-size: 2rem;
  padding: 1em;
  max-width: 30em;
}

.content figure {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 1em;
  z-index: -1;
  flex-grow: 1;
  min-width: 30%;
}

.content figure img {
  max-width: 100%;
  aspect-ratio: initial;
  object-fit: cover;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- STATS LIST --------------------------------- */
/* *----------------------------------------------------------------------- */
.stats-list {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: rgba(95, 158, 160, 0.65);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin-top: 60px;
  gap: 4em;
  width: 100%;
  padding: 1em;
}

.stats-list strong {
  display: flex;
  justify-content: flex-start;
  color: var(--red);
  font-size: 3em;
  font-weight: 800;
  padding: em;
}

.stats-list span {
  color: #fff;
  font-size: 1em;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- LINK LIST ---------------------------------- */
/* *----------------------------------------------------------------------- */
.link-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 2em 0;
  padding: 1em;
}

.link-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.link-list-item {
  backdrop-filter: blur(4px);
  background: rgba(95, 158, 160, 0.65);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  padding: 1em;
  gap: 1em;
}

.link-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

.link-list img {
  width: 4em;
  height: auto;
  aspect-ratio: initial;
  filter: brightness(0) invert(1);
}

.link-list a :hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  color: var(--cyan) !important;
}

.link-list li:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2);
}

.link-list li:not(hover) {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- SKILL LIST --------------------------------- */
/* *----------------------------------------------------------------------- */
.skill-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 2em 0;
}

.skill-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.skill-list-item {
  backdrop-filter: blur(4px);
  background: rgba(95, 158, 160, 0.65);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.skill-list img {
  width: 6em;
  height: auto;
  aspect-ratio: initial;
  filter: brightness(0) invert(1);
  padding: 1em;
}

.skill-list img:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  filter: brightness(100%) invert(0);
  filter: drop-shadow(4px 4px 1px var(--bShadow2));
}

.skill-list li:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2);
}

.skill-list li:not(hover) {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- FOOTER ------------------------------------- */
/* *----------------------------------------------------------------------- */
footer {
  background-color: var(--cyan);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  height: 100%;
  padding: 1em;
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MEDIA CONTAINERS ---------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MOBILE/TABLET ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 979px) {
  .hero {
    background-image: none;
  }

  .container {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    width: 100vw;
    min-height: fit-content;
  }

  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  section {
    width: 100%;
  }

  .content h1 {
    padding: 0.5em;
    font-size: 3em;
  }
  .content h4 {
    padding: 0.5em;
    padding-bottom: 0.5em;
  }

  .content figure {
    width: 100%;
  }

  header {
    justify-content: space-between;
    font-size: small;
    padding: 2em 2em 0 2em;
  }

  .stats-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 0em;
    gap: 1em;
    margin-top: 0;
  }
  .stats-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
  }

  nav {
    max-height: 0px;
    position: sticky;
    overflow: hidden;
    padding-right: 0;
    padding-top: 1em;
    width: 100%;
  }

  .nav-list {
    height: 0px;
    gap: 1em;
  }

  .nav-list-item {
    width: 100%;
  }

  .nav-list-item a {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.65em;
    border-radius: 1em;
    width: 100%;
  }

  #side-menu:checked ~ nav > .nav-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    min-height: 2em;
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
  }

  #side-menu:checked ~ nav {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    max-height: fit-content;
    width: 100%;
  }

  .side-menu {
    display: none;
    height: fit-content;
  }

  .side-menu {
    display: inline-block;
    position: fixed;
    right: 10vw;
    top: 30px;
    display: none;
  }

  .burger {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: var(--cyan);
    color: #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .burger-line {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    margin: auto;
    border-radius: 1em;
  }

  .burger-line::before,
  .burger-line::after {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-line::after {
    top: -8px;
  }

  #side-menu:checked ~ .burger .burger-line {
    background-color: transparent;
  }

  #side-menu:checked ~ .burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #side-menu:checked ~ .burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *-------------------------- BASIC MOBILE ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .content {
    padding-top: 1em;
  }

  header {
    gap: 0;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MOBILE LANDSCAPE ---------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- TABLET -------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .hero {
    background-image: url(/assets/images/background2.png);
  }

  .content {
    gap: 1em;
    margin-top: auto 0 auto 0;
    padding: 2em;
  }

  .stats-list {
    border-radius: 1em;
    margin-top: 4em;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- SMALL DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  .container {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    width: 90vw;
  }
  nav {
    padding-right: 0;
  }
  .nav-list {
    gap: 0.8em;
  }
  section {
    width: 100%;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- BASIC DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .container {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    width: 90vw;
  }
  nav {
    padding-right: 0;
  }
  .nav-list {
    gap: 0.8em;
  }
  section {
    width: 100%;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- LARGE DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .container {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    width: 90vw;
  }
  nav {
    padding-right: 0;
  }
  .nav-list {
    gap: 0.8em;
  }
}
@media only screen and (min-width: 1400px) {
  nav {
    padding-right: 0;
  }
}
