@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bShadow: rgba(0, 0, 0, 0.2);
  --bShadow2: rgba(0, 0, 0, 0.19);
  --cyan: #5f9ea0;
  --red: #ff6347;
  --red2: #ff634740;
  --background: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

body {
  display: grid;
  background-color: var(--background);
  height: fit-content;
}

.hero {
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  /* background-image: url(../assets/images/background.jpg); */
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -- Header -- */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: fit-content;
  padding: 2em 1em 2em 1em;
  gap: 2em;
}

.name {
  display: flex;
  justify-content: center;
  text-shadow: 4px 6px 8px var(--bShadow);
  color: var(--cyan);
  font-size: 3em;
  margin-top: auto;
}

.name span {
  color: #fff;
}

.hamburger {
  display: none;
}

.side-menu {
  display: none;
}

/* -- Navbar -- */
nav {
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-right: 1em;
  width: fit-content;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style: none;
  gap: 2em;
}

.nav-list-item a {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: rgba(95, 158, 160, 0.65);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem 2em 1rem 2em;
}

/* Hover on the current page */
#currentpage > a:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2) !important;
  color: var(--cyan) !important;
}

/* Current page when hovering on others */
.nav-list:hover > #currentpage a {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: rgba(95, 158, 160, 0.4);
  color: #fff;
}

/* Regular hover */
.nav-list-item a:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2);
  color: var(--cyan);
}

/* Transition to normal when not hovering */
.nav-list-item a:not(hover) {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

/* Current page */
#currentpage a {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: rgba(95, 158, 160, 0.25);
  color: #fff;
}

/* -- Content -- */
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin-top: auto 0 auto 0;
  padding: 4em;
}

.content h1 {
  color: #fff;
  font-size: 4rem;
}
.content h4 {
  color: var(--cyan);
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 40px;
}

/* -- Stats List -- */
.stats-list {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: rgba(95, 158, 160, 0.65);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin-top: 60px;
  gap: 4em;
  width: 100%;
  padding: 2em;
}

.stats-list strong {
  display: flex;
  justify-content: flex-start;
  color: var(--red);
  font-size: 3em;
  font-weight: 800;
  padding: em;
}

.stats-list span {
  color: #fff;
  font-size: 1em;
}

/* -- Link List -- */
.link-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.link-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.link-list-item {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: rgba(95, 158, 160, 0.65);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  min-height: 8em;
}

.link-list-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  padding: 1em;
  margin: auto;
}

.link-list img {
  width: 2em;
  height: auto;
  aspect-ratio: initial;
  filter: brightness(0) invert(1);
  margin-right: 1em;
}

.link-list a :hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  color: var(--cyan) !important;
}

.link-list li:hover {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
  background: var(--red2);
}

.link-list li:not(hover) {
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

/* -- Footer -- */
footer {
  background-color: var(--cyan);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  height: fit-content;
  padding: 1em;
  margin-top: auto;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- MEDIA CONTAINERS ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- BASIC MOBILE ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .hero {
    height: fit-content;
  }

  .container {
    width: 100vw;
  }

  .content {
    padding: 0;
    padding-top: 1em;
  }

  header {
    justify-content: space-between;
    font-size: small;
    padding: 1em 2em;
    gap: 0;
  }

  nav {
    max-height: 0px;
    position: sticky;
    overflow: hidden;
    padding-right: 0;
  }

  .nav-list {
    height: 0px;
    gap: 1em;
  }

  .nav-list-item {
    width: 100%;
  }

  .nav-list-item a {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.65em;
    border-radius: 1em;
    width: 100%;
  }

  #side-menu:checked ~ nav > .nav-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    min-height: 2em;
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
  }

  #side-menu:checked ~ nav {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    max-height: fit-content;
    width: 100%;
  }

  .side-menu {
    display: none;
    height: fit-content;
  }

  .side-menu {
    display: inline-block;
    position: fixed;
    right: 10vw;
    top: 30px;
    display: none;
  }

  .burger {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: var(--cyan);
    color: #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .burger-line {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    margin: auto;
    border-radius: 1em;
  }

  .burger-line::before,
  .burger-line::after {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-line::after {
    top: -8px;
  }

  /* close-icon */
  #side-menu:checked ~ .burger .burger-line {
    background-color: transparent;
  }

  #side-menu:checked ~ .burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #side-menu:checked ~ .burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  /* - */

  .content h1 {
    padding-left: 0.5em;
    font-size: 3em;
  }
  .content h4 {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }

  .stats-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 0em;
    gap: 1em;
  }
  .stats-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 1em;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- MOBILE LANDSCAPE ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    height: fit-content;
  }

  .container {
    width: 100vw;
  }

  .content {
    padding: 0;
  }

  header {
    justify-content: space-between;
    font-size: small;
    padding: 1em 2em;
  }

  nav {
    max-height: 0px;
    position: sticky;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
  }

  .nav-list {
    height: 0px;
    gap: 1em;
  }

  .nav-list-item {
    width: 100%;
  }

  .nav-list-item a {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.65em;
    border-radius: 1em;
    width: 100%;
  }

  #side-menu:checked ~ nav > .nav-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    min-height: 2em;
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
  }

  #side-menu:checked ~ nav {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    max-height: fit-content;
    width: 100%;
  }

  .side-menu {
    display: none;
    height: fit-content;
  }

  .side-menu {
    display: inline-block;
    position: fixed;
    right: 10vw;
    top: 30px;
    display: none;
  }

  .burger {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: var(--cyan);
    color: #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .burger-line {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    margin: auto;
    border-radius: 1em;
  }

  .burger-line::before,
  .burger-line::after {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-line::after {
    top: -8px;
  }

  /* close-icon */
  #side-menu:checked ~ .burger .burger-line {
    background-color: transparent;
  }

  #side-menu:checked ~ .burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #side-menu:checked ~ .burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  section {
    width: 100%;
  }

  .content h1 {
    padding-left: 0.5em;
    font-size: 3em;
  }
  .content h4 {
    padding-left: 0.5em;
  }

  .stats-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 0em;
    gap: 1em;
  }
  .stats-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 1em;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- TABLET ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .hero {
    height: fit-content;
  }

  .container {
    width: 100vw;
  }

  .content {
    padding: 0;
  }

  header {
    justify-content: space-between;
    font-size: small;
    padding: 1em 2em;
  }

  nav {
    max-height: 0px;
    position: sticky;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
  }

  .nav-list {
    height: 0px;
    gap: 1em;
  }

  .nav-list-item {
    width: 100%;
  }

  .nav-list-item a {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.65em;
    border-radius: 1em;
    width: 100%;
  }

  #side-menu:checked ~ nav > .nav-list {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    min-height: 2em;
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
  }

  #side-menu:checked ~ nav {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    max-height: fit-content;
    width: 100%;
  }

  .side-menu {
    display: none;
    height: fit-content;
  }

  .side-menu {
    display: inline-block;
    position: fixed;
    right: 10vw;
    top: 30px;
    display: none;
  }

  .burger {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: var(--cyan);
    color: #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .burger-line {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    margin: auto;
    border-radius: 1em;
  }

  .burger-line::before,
  .burger-line::after {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    background-color: white;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-line::after {
    top: -8px;
  }

  /* close-icon */
  #side-menu:checked ~ .burger .burger-line {
    background-color: transparent;
  }

  #side-menu:checked ~ .burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #side-menu:checked ~ .burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    margin-top: auto 0 auto 0;
    padding: 4em;
  }

  .content h1 {
    color: #fff;
    font-size: 4rem;
  }
  .content h4 {
    color: var(--cyan);
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 40px;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- SMALL DESKTOP ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .hero {
    height: fit-content;
  }

  nav {
    padding-right: 0;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- BASIC DESKTOP ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .hero {
    height: fit-content;
  }

  nav {
    padding-right: 0;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----- LARGE DESKTOP ----- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media only screen and (min-width: 1200px) {
  nav {
    padding-right: 0;
  }
}
