@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* *----------------------------------------------------------------------- */
/* *-------------------------- ROOT/CONTAINER ----------------------------- */
/* *----------------------------------------------------------------------- */
:root {
  --bShadow: rgba(0, 0, 0, 0.2);
  --bShadow2: rgba(0, 0, 0, 0.19);
  --bShadow3: rgba(0, 0, 0, 0.45);
  --cyan: #5f9ea0;
  --cyan2: #5f9ea0a6;
  --red: #ff6347;
  --red2: #ff634740;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  transition: 0.2s ease-out;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: 0;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  background-color: #0f0f0f;
}

.hero {
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  min-height: 100vh;
  width: 100vw;
}

.container {
  transition: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  height: 100%;
  min-height: fit-content;
  margin: 0 auto 0 auto;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- HEADER ------------------------------------- */
/* *----------------------------------------------------------------------- */
header {
  transition: 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 0em 6em;
  gap: .9em;
}

.logo {
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content: center;
  text-shadow: 4px 6px 8px var(--bShadow3),
    4px 6px 8px var(--bShadow3),
    4px 6px 8px var(--bShadow3),
    4px 6px 8px var(--bShadow3);
  color: var(--cyan);
  font-size: 4em;
  padding: 1rem 0;
  margin: auto 0;
}

.logo span {
  font-family: 'Caveat', cursive;
  color: #fff;
}

.hamburger {
  display: none;
}

.side-menu {
  display: none;
}

.sticky {
  transition: 0.2s ease-out;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0em 6em;
  gap: .9em;
  background-color: var(--cyan);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  z-index: 1;
}

.sticky+.container {
  padding-top: 112px;
  /* margin-top: 112px; */
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- NAVBAR ------------------------------------- */
/* *----------------------------------------------------------------------- */
nav {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.nav-list {
  transition: 0.4s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style: none;
  gap: 0.8em;
}

.nav-list-item a {
  transition: 0.4s ease-in-out;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  text-shadow: 4px 6px 8px var(--bShadow);
  background: var(--cyan2);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem 2em 1rem 2em;
  white-space: nowrap;
}

/* Hover on the current page */
#currentpage>a:hover {
  transition: 0.4s ease-in-out;
  background: var(--red2) !important;
  color: var(--red) !important;
}

/* Current page when hovering on others */
.nav-list:hover>#currentpage a {
  transition: 0.4s ease-in-out;
  background: rgba(95, 158, 160, 0.4);
  color: #fff;
}

/* Regular hover */
.nav-list-item a:hover {
  transition: 0.4s ease-in-out;
  background: var(--red2);
  color: var(--red);
}

/* Transition to normal when not hovering */
.nav-list-item a:not(hover) {
  transition: 0.4s ease-in-out;
}

/* Current page */
#currentpage a {
  transition: 0.4s ease-in-out;
  background: rgba(95, 158, 160, 0.25);
  color: #fff;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT ------------------------------------ */
/* *----------------------------------------------------------------------- */
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4em;
  gap: 1em;
}

.content-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-shadow: 4px 6px 20px var(--bShadow3),
    4px 6px 20px var(--bShadow3),
    6px 8px 20px var(--bShadow3),
    6px 8px 12px var(--bShadow3),
    4px 6px 12px var(--bShadow3),
    4px 6px 8px var(--bShadow3),
    4px 6px 8px var(--bShadow3);
}

section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* background-color: var(--red2); */
  border-radius: 2em;
  padding: 1em;
}

section h4 {
  color: var(--cyan);
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1.25em;
}

section h1 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 4rem;
  padding-bottom: .5em;
}

section p {
  font-size: 1.6em;
  max-width: 32em;
  padding-top: 1em;
}

section p span {
  color: var(--cyan);
}

section a {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: var(--cyan2);
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  border-radius: 2em;
  text-align: center;
  text-shadow: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: .5rem 1em;
}

section a:hover {
  transition: 0.4s ease-in-out;
  background: var(--red2);
}

section:not(hover) {
  transition: 0.4s ease-in-out;
}

.content figure {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 1em;
  min-width: 30%;
}

.content figure img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: initial;
  filter: drop-shadow(4px 4px 1px var(--bShadow));
  object-fit: cover;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT HOME ------------------------------- */
/* *----------------------------------------------------------------------- */
#content-index {
  align-items: center;
  min-height: 100%;
  padding-top: 0;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT ABOUT ME --------------------------- */
/* *----------------------------------------------------------------------- */
#content-aboutme {
  flex-wrap: wrap;
}

#content-aboutme section {
  flex-grow: 1;
}

#content-aboutme section p {
  max-width: 40em;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT PORTFOLIO -------------------------- */
/* *----------------------------------------------------------------------- */
#content-portfolio {
  padding-bottom: 2em;
}

#content-portfolio section {
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 2em;
}

#content-portfolio .content-text {
  justify-content: flex-start;
}

#content-portfolio figure {
  flex-grow: 1;
  padding: 1em;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT CV --------------------------------- */
/* *----------------------------------------------------------------------- */
#content-cv {
  padding-bottom: 2em;
}

#content-cv section {
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.chas-logo {
  filter: brightness(0) invert(1);
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- CONTENT STARDEW ---------------------------- */
/* *----------------------------------------------------------------------- */
#content-stardew {
  padding-bottom: 2em;
}

#content-stardew section {
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
}

#content-stardew section h1 {
  width: 100%;
}

.stardew-image {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: fit-content;
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
}

#content-stardew figure {
  flex-grow: 1;
  transition: 0.4s ease-in-out;
  backdrop-filter: blur(4px);
  border-radius: 1em;
  min-height: fit-content;
}

#content-stardew figure img {
  flex-grow: 1;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- IMAGE GRID --------------------------------- */
/* *----------------------------------------------------------------------- */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  grid-gap: 2em;
  height: fit-content
}

.image-grid figure {
  width: 100%;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- STATS LIST --------------------------------- */
/* *----------------------------------------------------------------------- */
.stats-list {
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px 0 var(--bShadow), 0 6px 20px 0 var(--bShadow2);
  background: var(--cyan2);
  font-family: "Roboto Mono", monospace;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2em;
  width: 100%;
  padding: 1.2em;
}

.stats-list strong {
  display: flex;
  justify-content: flex-start;
  color: var(--red);
  font-size: 3em;
  font-weight: 800;
  padding: 0;
}

.stats-list span {
  color: #fff;
  font-size: 1em;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- ITEM --------------------------------------- */
/* *----------------------------------------------------------------------- */
#item-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#item-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;

}

#item-list li:hover {
  transition: 0.4s ease-in-out;
  background: var(--red2);
}

#item-list li:not(hover) {
  transition: 0.4s ease-in-out;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- LINK LIST ---------------------------------- */
/* *----------------------------------------------------------------------- */

.link-list-item {
  backdrop-filter: blur(4px);
  background: var(--cyan2);
  border-radius: 1em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.link-list-item a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 2em;
  padding: .5em;
  color: #fff;
  gap: 1em;
}

.link-list img {
  width: 4em;
  height: auto;
  aspect-ratio: initial;
  filter: brightness(0) invert(1);
}

.link-list a :hover {
  transition: 0.4s ease-in-out;
  color: var(--cyan) !important;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- SKILL LIST --------------------------------- */
/* *----------------------------------------------------------------------- */
.skill-list-item {
  backdrop-filter: blur(4px);
  background: var(--cyan2);
  border-radius: 1em;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.skill-list img {
  width: 100%;
  height: 5em;
  aspect-ratio: initial;
  filter: brightness(0) invert(1);
  padding: 1em;
}

.skill-list img:hover {
  transition: 0.4s ease-in-out;
  filter: brightness(100%) invert(0);
  filter: drop-shadow(4px 4px 1px var(--bShadow2));
}

.skill-list img:not(hover) {
  transition: 0.4s ease-in-out;
}

/* *----------------------------------------------------------------------- */
/* *-------------------------- FOOTER ------------------------------------- */
/* *----------------------------------------------------------------------- */
footer {
  background-color: var(--cyan);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.25em;
  padding: 2em;
}

footer h1 {
  font-size: 2em;
  padding: 1rem;
  padding-bottom: 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer li {
  display: flex;
  list-style: none;
  gap: 1em;
}

footer li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  width: 100%;
  text-align: left;
  backdrop-filter: blur(4px);
  background: var(--cyan);
  border-radius: 1em;
  padding: 1em;
  gap: 1em;
}

footer li :hover {
  transition: 0.4s ease-in-out;
  background-color: var(--red);
}

footer li :not(hover) {
  transition: 0.4s ease-in-out;
}

footer img {
  width: 2rem;
  filter: brightness(0) invert(1);
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MEDIA CONTAINERS ---------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MOBILE/TABLET ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 979px) {
  /* .hero {
    background-image: none;
  } */

  .container {
    transition: 0.4s ease-in-out;
    width: 100vw;
  }

  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  header {
    padding: 0 1em;
  }

  .sticky {
    padding: 0 2em;
    font-size: small;
  }

  .sticky+.container {
    padding-top: 91px;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    gap: 3em;
  }

  section {
    width: 100%;
    padding: 0;
  }

  .content h1 {
    /* padding: 0.5rem; */
    font-size: 3em;
  }

  .content h4 {
    font-size: 1.75em;
  }

  .content p {
    max-width: 100%;
    padding: 1em;
  }

  .content section a {
    width: 100%;
  }

  .content figure {
    width: 100%;
    /* max-height: 50vh; */
  }

  #content-stardew figure {
    margin: 1em;
    padding: 0;
  }

  .stats-list {
    transition: 0.4s ease-in-out;
    flex-direction: row;
    width: 100%;
    border-radius: 0em;
    gap: 1em;
  }

  .stats-list-item {
    padding: 1em;
    border-radius: 1em;
  }

  #item-container {
    padding: 1em 1em;
    margin: 0;
  }

  #item-list {
    gap: 1em;
  }

  .link-list-item a {
    justify-content: flex-start;
  }

  nav {
    flex-direction: column;
    max-height: 0px;
    position: sticky;
    overflow: hidden;
    width: 100%;
  }

  .nav-list {
    transition: 0.4s ease-in-out;
    height: 0px;
    gap: 1em;
    width: 10%;
    margin: 0;
  }

  .nav-list-item a {
    transition: 0.4s ease-in-out;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 1em;
  }

  #side-menu:checked~nav>.nav-list {
    transition: 0.4s ease-in-out;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    min-height: 2em;
    width: 100%;
  }

  #side-menu:checked~nav>.nav-list>.nav-list-item {
    transition: 0.4s ease-in-out;
    width: 100%;
  }

  #side-menu:checked~nav {
    transition: 0.4s ease-in-out;
    max-height: fit-content;
    width: 100%;
    padding-top: 1em;
  }

  .side-menu {
    display: none;
    height: fit-content;
  }

  .sticky>.burger {
    background: var(--red);
  }

  .burger {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: var(--cyan);
    color: #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .burger-line {
    transition: 0.4s ease-in-out;

    background-color: white;
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    margin: auto;
    border-radius: 1em;
  }

  .burger-line::before,
  .burger-line::after {
    transition: 0.4s ease-in-out;

    background-color: white;
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-line::after {
    top: -8px;
  }

  #side-menu:checked~.burger .burger-line {
    background-color: transparent;
  }

  #side-menu:checked~.burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #side-menu:checked~.burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *-------------------------- BASIC MOBILE ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .content {
    padding-top: 1em;
  }

  .logo {
    font-size: 2.5em;
  }

  header {
    gap: 0;
  }

  .nav-list-item a {
    font-size: 1.25em;
  }

  .stats-list {
    transition: 0.4s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}



/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- MOBILE LANDSCAPE ---------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    padding-top: 1em;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- TABLET -------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .content {
    gap: 1em;
    margin-top: auto 0 auto 0;
    padding: 2em;
  }

  .content p {
    font-size: 1.5em;
  }

  .stats-list {
    border-radius: 1em;
  }

  .link-list-item a {
    justify-content: center;
  }

}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- SMALL DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  .container {
    transition: 0.4s ease-in-out;
    width: 90vw;
  }

  .sticky {
    padding-bottom: 1em;
  }

  .nav-list {
    gap: 0.8em;
  }

  section {
    width: 100%;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- BASIC DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .container {
    transition: 0.4s ease-in-out;
    width: 90vw;
  }

  .sticky {
    padding-bottom: 1em;
  }

  .nav-list {
    gap: 0.8em;
  }

  section {
    width: 100%;
  }
}

/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
/* *------------------------- LARGE DESKTOP ------------------------------- */
/* *----------------------------------------------------------------------- */
/* *----------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .container {
    transition: 0.4s ease-in-out;
    width: 90vw;
  }

  .sticky {
    padding-bottom: 1em;
  }

  .nav-list {
    gap: 0.8em;
  }
}

@media only screen and (min-width: 1400px) {
  header {
    justify-content: space-between;
  }
}